.DS_Store
dist/
src/nuclear_rose.egg-info
build/
*.pkl
*.pyc
tests/*.ipynb
tests/.ipynb_checkpoints
src/rose.egg-info/
src/rose.egg-info/PKG-INFO
src/rose.egg-info/SOURCES.txt
__pycache__/
tests/__pycache__/
tests/__pycache__/test_interactions.cpython-310.pyc
tests/__pycache__/test_schroedinger_equation.cpython-310.pyc
site/
__version__.py
